.event-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black; /* Black background */
  padding: 20px; /* Add padding to ensure form is not touching edges */
}

.event-form {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* Limit the maximum width */
  margin-bottom: 20px; /* Add space between form and footer */
}

.event-form .form-group {
  margin-bottom: 20px;
}

.event-form label {
  display: block;
  margin-bottom: 5px;
  color: black; /* Label text color */
  font-weight: bold;
}

.event-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ccc;
}

.footer button {
  width: 100%;
  padding: 10px;
  background-color: #FFC0CB; /* Baby pink background */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: bold;
}

.footer button:hover {
  background-color: #FFB6C1; /* Darker baby pink on hover */
}